html, body{
    height: 100vh;
}

.rounded-circle {
    height: 80px;
    width: auto;
}

@media only screen and (max-width:575px) {
.rounded-circle {
    display: none;
}
}
.navbar {
    background-color: #ECCBB8;
}

.nav-link{
    color: #282739 !important;
}

.buttonColor{
    background-color: #282739;
}

.mainCol{
    background-color: #282739;
    color: #ECCBB8;
}

.card-header {
    background-color: #ECCBB8;
    font-weight: bolder;
}

.card-body {
    background-color: #282739;
}

.card-link{
    color: #282739 !important;
}

.containerServicios{
    background-color: #ECCBB8;
    color: #282739;
}